.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: crosshair;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0 solid rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.box {
  position: absolute;
  height: 0;
  z-index: 200;
  // TODO Black space between dashes
  border: 1px dashed white;
  pointer-events: none;
}
