.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: url(../../assets/cursor.png) 10 10, auto;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0 solid rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
